.albuminfo-card {
    margin-top: 20px;
    width: 80%;
}
.albuminfo-card p{
    margin: 0 ;
}
.albumName-container{
    width: 100%;
    font-size: 16px;
    color: #c3d0e3;
    font-weight: 700;
    overflow: hidden;
}
.marquee{
    white-space: nowrap;
    display: inline-block;
    animation: marquee 16s linear infinite;
    padding-left: 100%;
}
@keyframes marquee{
    0%{
        transform: translateX(0);

    }
    100%{
        transform: translateX(-100%);
    }
}
.album-info{
    font-size: 13px;
    color: #c3d0e3;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.album-release{
    font-size: 11px;
    color: #c3d0e3;
    font-weight: 100;
    margin-top: 10px;
}